{
  "server": {
    "listening-port": 18190
  },
  "aws": {
    "access-key": "YOUR_AWS_ACCESS_KEY",
    "secret-key": "YOUR_AWS_SECRET_KEY"
  },
  "log": {
    "level": "debug",
    "output-file": "log/debug.log"
  }
}
